<section *ngIf="tours$ | async as tours; else loading">
  <div class="title">
    <h2>Our Tours</h2>
    <div class="underline"></div>
  </div>
  <div class="title" *ngIf="tours.length === 0">
    <h2  >No tours left!</h2>
    <button (click)="onRefresh()" class="btn">Refresh</button>
  </div>
  
  <div>
    <tour (notInterestedClick)="notInterestedClick($event)" *ngFor="let tour of tours" [tour]="tour"></tour>
  </div>
</section>

<ng-template #loading>Loading</ng-template>
<div *ngIf="error">ERROR</div>
